h1 {
    font-family: helvetica, arial, sans-serif;
   }
.column {
  float: left;
  width: 30%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;

   .separator {
     width: 750px;
   }
   .left {
     float: left;
     padding-right: 15px;
   }
   .right {
     float: right;
     padding-left: 15px;
   }
   
   